[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiosignal = "*"
async-timeout = "*"
attrs = "*"
cffi = "*"
chardet = "*"
charset-normalizer = "*"
frozenlist = "*"
idna = "*"
multidict = "*"
pycparser = "*"
pynacl = "*"
python-dotenv = "*"
pytube = {editable = true, ref = "5fc27b72180f6bb76d43633c29a89eff5df1f70e", git = "https://github.com/glubsy/pytube"}

[dev-packages]

[requires]
python_version = "3.10"
